<%= turbo_frame_tag dom_id(post, :like_button) do %>
  <% if current_user.present? %>
    <% if post.liked_by?(current_user) %>
      <%= button_to post_like_path(post),
                    method: :delete,
                    class: "x-like-btn liked",
                    form: { class: "x-like-form" } do %>
        <i class="fa-solid fa-heart"></i>
        <span><%= post.likes.count %></span>
      <% end %>
    <% else %>
      <%= button_to post_like_path(post),
                    method: :post,
                    class: "x-like-btn",
                    form: { class: "x-like-form" } do %>
        <i class="fa-regular fa-heart"></i>
        <span><%= post.likes.count %></span>
      <% end %>
    <% end %>
  <% else %>
    <span class="x-like-btn disabled-like">
      <i class="fa-regular fa-heart"></i>
      <span><%= post.likes.count %></span>
    </span>
  <% end %>
<% end %>