<%= turbo_frame_tag dom_id(post, :like_button) do %>
  <% if current_user.present? %>
    <% if post.liked_by?(current_user) %>
      <%= button_to post_like_path(post),
                    method: :delete,
                    class: "btn btn-outline-danger btn-sm" do %>
        ♥ <%= post.likes.count %>
      <% end %>
    <% else %>
      <%= button_to post_like_path(post),
                    method: :post,
                    class: "btn btn-outline-secondary btn-sm" do %>
        ♡ <%= post.likes.count %>
      <% end %>
    <% end %>
  <% else %>
    <span class="btn btn-outline-secondary btn-sm disabled">
      ♡ <%= post.likes.count %>
    </span>
  <% end %>
<% end %>